.form {
    width: 700px;
    background-color: #ffaeae;
    background-image:  linear-gradient(135deg, #fffb8c 25%, transparent 25%), linear-gradient(225deg, #fffb8c 25%, transparent 25%), linear-gradient(45deg, #fffb8c 25%, transparent 25%), linear-gradient(315deg, #fffb8c 25%, #ffaeae 25%);
    background-position:  21px 0, 21px 0, 0 0, 0 0;
    background-size: 21px 21px;
    background-repeat: repeat;
}
